{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h5>Comments</h5>
            <table class="table table-bordered ">
                <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>{{ comment.author }} </td>
                        <td>{{ comment.content }}</td>
                        <td>{{ comment.creation_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card my-md-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form method="post" action="/comment/{{ id }}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="author">Author:</label>

                            <select name="author" id="author" >
                                <option value={{ form.author }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Comment</label>
                            <textarea name="content" class="form-control" rows="3"></textarea>
                        </div>
                        <input type="hidden" name="post" value={{ id }}>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}